@model ControllerExtensibility.Models.Result;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    422
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>Controller: @Model.ControllerName</div>
    <div>Action: @Model.ActionName</div>
</body>
</html>